<!doctype html>
<html>
  <head>
    <title> Robo Job Hunt - unemployed </title>
    <meta charset="utf-8">
    <link
    rel="stylesheet" href="/main.css" >
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/index">All Robots</a></li>
        <li><a href="/employed">Employed</a></li>
        <li><a href="/unemployed">Looking for work</a></li>


      </ul>
    </nav>
    <div>
      <h1>Available for Hire</h1>
      <main class="container">
        {{#users}}
            <div class="user">
              <img src={{avatar}}>
              <h2>{{name}}</h2>
              <p>{{company}}</p>
            </div>
        {{/users}}
      </main>
    </div>

  </body>


</html>
